  .meter{
    height: 10px;
    margin: 10px 0;
    width: 90%;
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .meter.strong .section:nth-child(-n + 3){
    background: darkgreen;
  }
  .meter.medium .section:nth-child(-n + 2){
    background: rgb(212, 212, 25);
  }
  .meter.easy .section:nth-child(-n + 1){
    background: red;
  }
  .meter.notEnough .section:nth-child(-n + 3){
    background: red;
  }

  .section{
    content: '';
    height: 100%;
    width: 100%;
    background: rgb(51, 51, 51,0.15);
    border-radius: 5px;
  }
  
  .label-desc{
    color: rgb(51, 51, 51,0.5);
    font-size: 20px;
  }